/*fireworks container section*/
.container {
height: 25vh;
width: 72vw;
position: fixed;
bottom: 5%;
left: 3%;
right: 0;
margin: auto;
background-color:transparent;

}

.fireworks {
list-style-type: none;
padding: 0;
}
.fireworks li {
display: inline-block;
margin: 15px;
height: 30px;
width: 30px;
border-radius: 500px;
position: relative;
background-color: rgb(199, 32, 6);
box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}
.fireworks li::before {
content: "";
position: absolute;
height: 100%;
background-color: black;
width: 100%;
border-radius: 500px;
top: -40%;
left: -30%;
}
.fireworks li::after {
content: "";
position: absolute;
height: 100%;
background-color: black;
width: 100%;
border-radius: 500px;
top: -40%;
right: -30%;
}
.fireworks li span {
display: inline-block;
height: 12px;
width: 5px;
position: absolute;
left: 0;
right: 0;
margin: auto;
z-index: 1;
border-bottom-left-radius: 100px;
border-bottom-right-radius: 50px;
border-top-right-radius: 100px;
transform: rotate(45deg);
animation: fire 0.3s ease infinite;
}
.fireworks li:nth-child(1) span {
animation-delay: 0.5s;
}
.fireworks li:nth-child(2) span {
animation-delay: 1s;
}
.fireworks li:nth-child(3) span {
animation-delay: 1.5s;
}
.fireworks li:nth-child(4) span {
animation-delay: 2s;
}
.fireworks li:nth-child(5) span {
animation-delay: 2.5s;
}
.fireworks li:nth-child(6) span {
animation-delay: 3s;
}
.fireworks li:nth-child(7) span {
animation-delay: 3.5s;
}
.fireworks li:nth-child(8) span {
animation-delay: 4s;
}
.fireworks li:nth-child(9) span {
animation-delay: 4.5s;
}
.fireworks li:nth-child(10) span {
animation-delay: 5s;
}
.fireworks li:nth-child(11) span {
animation-delay: 5.5s;
}
.fireworks li:nth-child(12) span {
animation-delay: 6s;
}
.fireworks li:nth-child(13) span {
animation-delay: 6.5s;
}
.fireworks li:nth-child(14) span {
 animation-delay: 7s;
}
.fireworks li:nth-child(15) span {
animation-delay: 7.5s;
}
.fireworks li:nth-child(16) span {
animation-delay: 8s;
}
.fireworks li:nth-child(17) span {
animation-delay: 8.5s;
}
.fireworks li:nth-child(18) span {
animation-delay:9s;
}
.fireworks li:nth-child(19) span {
animation-delay:9.5s;
}
.fireworks li:nth-child(20) span {
animation-delay:10s;
}
.fireworks li:nth-child(21) span {
animation-delay:10.5s;
}
.fireworks li:nth-child(22) span {
animation-delay:11s;
}
.fireworks li:nth-child(23) span {
animation-delay:11.5s;
}
.fireworks li:nth-child(24) span {
 animation-delay:12s;
}
.fireworks li:nth-child(25) span {
animation-delay:12.5s;
}
.fireworks li:nth-child(26) span {
animation-delay:13s;
}
@keyframes fire {
0%, 100% {
transform: rotate(55deg);
width: 12px;
background: linear-gradient(90deg, rgb(245, 84, 3), rgb(247, 251, 247));
}
50% {
transform: rotate(35deg);
width: 12px;
background: linear-gradient(90deg, rgb(249, 247, 246), rgb(250, 250, 5));
}
}


/*glowing part section*/
html,body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 25vh;
  display: table;
  background-color:black;
  background-image: url(laxmi.png);
  background-size: 100%;
  background-repeat: no-repeat;
}


.container1 {
  width: 100vw;
  height: 50vh;
  text-align: center;
  top: 0;
  background-image: url(giphy.gif);
  background-size: 20%;
  background-repeat:no-repeat;

  
}
.container2 {
  width: 100vw;
  height: 30vh;
  top: 0;
  background-color: transparent;
}

.img1{
  width: 20vw;
  height: 50vh;
  margin-top: 0px;
  margin-left: 0px;
  background-color: transparent;
  background-image: url(giphy.gif);
  background-size: 100%;
  background-repeat: no-repeat;
  float: left;
}

.img2{
  width: 20vw;
  height: 50vh;
  background-color: transparent;
  margin-top: 0px;
  margin-left: 0px;
  background-image: url(giphy.gif);
  background-repeat: no-repeat;
  background-size: 100%;
  float: right;
}


.neon {
  font-family: Ganess,Preeti;
  color: #fba111;
  font-size: 2vw;
  line-height: 3vw;
  text-shadow: 0 0 3vw #d5d3d4;
}

.flux {
  font-family: Ganess,Preeti;
  color: #42fb79;
  font-size: 3vw;
  line-height: 3vw;
  text-shadow: 0 0 10vw #2356FF;
}

.neon {
  animation: neon 1s ease infinite;
  -moz-animation: neon 1s ease infinite;
  -webkit-animation: neon 1s ease infinite;
}

@keyframes neon {
  0%,
  100% {
    text-shadow: 0 0 1vw #f65206, 0 0 3vw #FA1C16, 0 0 10vw #FA1C16, 0 0 10vw #FA1C16, 0 0 .4vw #FED128, .5vw .5vw .1vw #806914;
    color: #FED128;
  }
  50% {
    text-shadow: 0 0 .5vw #800E0B, 0 0 1.5vw #ec13c0, 0 0 5vw #800E0B, 0 0 5vw #800E0B, 0 0 .2vw #800E0B, .5vw .5vw .1vw #40340A;
    color: #806914;
  }
}

.flux {
  animation: flux 1s linear infinite;
  -moz-animation: flux 1s linear infinite;
  -webkit-animation: flux 1s linear infinite;
  -o-animation: flux 1s linear infinite;
}

@keyframes flux {
  0%,
  100% {
    text-shadow: 0 0 1vw #105cff, 0 0 3vw #4105f7, 0 0 10vw #1041FF, 0 0 10vw #1041FF, 0 0 .4vw #8BFDFE, .5vw .5vw .1vw #147280;
    color: #0dacd0;
  }
  50% {
    text-shadow: 0 0 .5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180, 0 0 5vw #082180, 0 0 .2vw #082180, .5vw .5vw .1vw #0A3940;
    color: #146C80;
  }
}
.name{
bottom: 0;
font-family: Ganess;
font-size: 2vh;
color: yellow;
text-align:  center;
}


